In [1]:
# Library
import pandas as pd

In [3]:
# Read data
data = pd.read_csv('tiktok_top_1000.csv')
data.head()

,Country,Rank,Account,Title,Link,Subscribers count,Views avg.,Likes avg.,Comments avg.,Shares avg.,Scraped
0,All,1,billieeilish,BILLIE EILISH,https://www.tiktok.com/@billieeilish,41600000.0,95000000.0,18100000.0,151000.0,54800.0,2022-02-07 16:54:35.641971
1,All,2,badbunny,Bad Bunny,https://www.tiktok.com/@badbunny,13400000.0,33300000.0,7300000.0,101900.0,106800.0,2022-02-07 16:54:35.641971
2,All,3,chipmunksoftiktok,Chipmunks of TikTok,https://www.tiktok.com/@chipmunksoftiktok,11400000.0,25000000.0,3000000.0,21800.0,64200.0,2022-02-07 16:54:35.641971
3,All,4,charlidamelio,charli dâ€™amelio,https://www.tiktok.com/@charlidamelio,135400000.0,18700000.0,2600000.0,54700.0,35200.0,2022-02-07 16:54:35.641971
4,All,5,yessicadcs,Yessica y Moises ðŸ¦œ,https://www.tiktok.com/@yessicadcs,263700.0,16700000.0,1400000.0,16200.0,138400.0,2022-02-07 16:54:35.641971

### Understanding Data

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            1000 non-null   object
 1   Rank               1000 non-null   int64
 2   Account            1000 non-null   object
 3   Title              998 non-null    object
 4   Link               1000 non-null   object
 5   Subscribers count  1000 non-null   float64
 6   Views avg.         1000 non-null   float64
 7   Likes avg.         1000 non-null   float64
 8   Comments avg.      1000 non-null   float64
 9   Shares avg.        1000 non-null   float64
 10  Scraped            1000 non-null   object
dtypes: float64(5), int64(1), object(5)
memory usage: 86.1+ KB

In [6]:
data.describe()

,Rank,Subscribers count,Views avg.,Likes avg.,Comments avg.,Shares avg.
count,1000.000000,1.000000e+03,1.000000e+03,1.000000e+03,1000.000000,1.000000e+03
mean,500.500000,7.049170e+06,3.700866e+06,4.537407e+05,4559.051000,1.068108e+04
std,288.819436,1.087267e+07,4.697164e+06,6.964760e+05,7766.145534,1.677724e+05
min,1.000000,4.300000e+03,5.853000e+05,3.100000e+04,0.000000,2.120000e+02
25%,250.750000,1.400000e+06,1.800000e+06,2.304500e+05,1600.000000,1.200000e+03
50%,500.500000,3.700000e+06,2.600000e+06,3.202000e+05,2800.000000,2.400000e+03
75%,750.250000,8.625000e+06,4.000000e+06,4.783750e+05,4900.000000,5.400000e+03
max,1000.000000,1.354000e+08,9.500000e+07,1.810000e+07,151000.000000,5.300000e+06

### Handling Missing Value

In [7]:
data.isnull().sum()

Country              0
Rank                 0
Account              0
Title                2
Link                 0
Subscribers count    0
Views avg.           0
Likes avg.           0
Comments avg.        0
Shares avg.          0
Scraped              0
dtype: int64

In [20]:
values = {"Title":"No Name"}
data = data.fillna(value=values)

In [21]:
data.isnull().sum()

Country              0
Rank                 0
Account              0
Title                0
Link                 0
Subscribers count    0
Views avg.           0
Likes avg.           0
Comments avg.        0
Shares avg.          0
Scraped              0
dtype: int64

### Engagement Rate

ER = (n_likes + n_shares + n_comments + n_plays)/followers * 100

In [24]:
data['ER'] = ((data['Likes avg.'] + data['Comments avg.'] + data['Shares avg.'] + data['Views avg.'])/data['Subscribers count'])

In [25]:
data

,Country,Rank,Account,Title,Link,Subscribers count,Views avg.,Likes avg.,Comments avg.,Shares avg.,Scraped,ER
0,All,1,billieeilish,BILLIE EILISH,https://www.tiktok.com/@billieeilish,41600000.0,95000000.0,18100000.0,151000.0,54800.0,2022-02-07 16:54:35.641971,2.723697
1,All,2,badbunny,Bad Bunny,https://www.tiktok.com/@badbunny,13400000.0,33300000.0,7300000.0,101900.0,106800.0,2022-02-07 16:54:35.641971,3.045425
2,All,3,chipmunksoftiktok,Chipmunks of TikTok,https://www.tiktok.com/@chipmunksoftiktok,11400000.0,25000000.0,3000000.0,21800.0,64200.0,2022-02-07 16:54:35.641971,2.463684
3,All,4,charlidamelio,charli dâ€™amelio,https://www.tiktok.com/@charlidamelio,135400000.0,18700000.0,2600000.0,54700.0,35200.0,2022-02-07 16:54:35.641971,0.157976
4,All,5,yessicadcs,Yessica y Moises ðŸ¦œ,https://www.tiktok.com/@yessicadcs,263700.0,16700000.0,1400000.0,16200.0,138400.0,2022-02-07 16:54:35.641971,69.224877
...,...,...,...,...,...,...,...,...,...,...,...,...
995,All,996,leleburnier,LELÃŠ BURNIER,https://www.tiktok.com/@leleburnier,1100000.0,1200000.0,284300.0,2800.0,968.0,2022-02-07 16:54:35.641971,1.352789
996,All,997,sofiadelmonstro,Cat Sofia,https://www.tiktok.com/@sofiadelmonstro,5200000.0,2600000.0,161200.0,1300.0,1600.0,2022-02-07 16:54:35.641971,0.531558
997,All,998,jena,Jena,https://www.tiktok.com/@jena,10500000.0,2800000.0,320300.0,856.0,512.0,2022-02-07 16:54:35.641971,0.297302
998,All,999,christiandaloii_,Christiandaloii_,https://www.tiktok.com/@christiandaloii_,2700000.0,1100000.0,188600.0,3000.0,2900.0,2022-02-07 16:54:35.641971,0.479444
999,All,1000,davidgetial,deivis,https://www.tiktok.com/@davidgetial,13200000.0,2300000.0,337500.0,1400.0,212.0,2022-02-07 16:54:35.641971,0.199933

In [ ]:
# Sorting 10 best account